<h1>HOME</h1>
<a href="http://localhost:8080/api/homeProfile"><button>HOME PROFILE</button></a>
<hr />
<br />
<br />
<a href="http://localhost:8080/api/register"><button>Register</button></a>
<br />
<br />
<a href="http://localhost:8080/api/signin"><button>Sign in</button></a>