<a href="http://localhost:8080/api/home"><button> HOME </button></a>
<br />
<br />
<a href="http://localhost:8080/api/auth/logout"><button>
    Cerrar session
  </button></a>
<hr />

<h2>Seccion de Productos</h2>

<a href="http://localhost:8080/api/products/getproducts"><button>Lista de
    Productos</button></a>
<a href="http://localhost:8080/api/creatProduct"><button>Nuevo Producto</button></a>

<h2>Seccion de Usuarios</h2>

<a href="http://localhost:8080/api/users/"><button>Lista de Usuarios</button></a>