<a href="http://localhost:8080/api/home"><button>Volver</button></a>
<hr />

<div>
  <h1>Register</h1>

  <form action="/api/auth/signup" method="POST">

    <label>Username</label>
    <input type="text" name="username" />

    <label>Email</label>
    <input type="email" name="email" />

    <label>Password</label>
    <input type="password" name="password" />
    <br />
    <br />
    <input type="submit" value="Register" />

  </form>
</div>