<a href="http://localhost:8080/api/home"><button>Volver</button></a>
<hr />

<div>
  <h1>Sign In</h1>

  <form action="/api/auth/signIn" method="POST">

    <label>Email</label>
    <input type="email" name="email" />

    <label>Password</label>
    <input type="password" name="password" />
    <br />
    <br />
    <input type="submit" value="Sign In" />

  </form>
</div>